* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #00264d;
}

.header {
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0, 38, 77, .8), rgba(255, 255, 255, .5));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* position: fixed;
    top: 0; */
}

.header .box1 img {
    height: 60px;
    width: 150px;
}

.header .box2 ul {
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}


.header .box2 ul li {
    list-style-type: none;
    font-size: 20px;
}

.header .box2 ul li a {
    text-decoration: none;
      color: #00264d;
}

.header .box2 ul li:hover {
    cursor: pointer;
    color: #fc7209;
}

.header .box2 ul li a:hover {
    cursor: pointer;
    color: #fc7209;
}

.header .box3 button {
    width: 150px;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
}
.header .box3 button a{
     text-decoration: none;
      color: white;
}
.slide img {
    height: 400px;
    width: 100vw;
}

.container1 {

    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container1 .box {
    margin-top: 5px;
    margin-bottom: 20px;
    height: auto;
    width: 500px;
}

.container1 .box1 p,
h1 {
    margin-top: 20px;
}

.container1 .box img {
    margin-left: 40px;
    height: 300px;
    width: 400px;
      box-shadow: 10px 10px 15px 0 gray;
     border-radius: 10px;
    transition: 1s;
}

.container1 .box img:hover {
    transform: skew(-8deg);
}

.container2 {
    height: auto;
    width: 100%;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container2 .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container2 .item2 {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container2 .item2 .box {
    height: 320px;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.container2 .item2 .box:hover {
    cursor: pointer;
    /* transform: scaleY(0deg); */
    background-color: #00264d;
    color: #ffffff;
}

.container2 .item2 .box img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #002a54;
}

.container2 .item2 .box #mentorsDetails {
    padding: 10px;
    text-align: center;
}

.container3 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 30px;
}

.container3 .box {
    padding: 20px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    transition: 0.5s;
}

.container3 .box:hover {
    cursor: pointer;
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.container3 .box #svgContent{
    text-align: center;
}
.container3 .box img {

    height: 70px;
    background-color: #00264d;
    border-radius: 5px;
    padding: 10px;
}

.container4 {
    margin-top: 40px;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.container4 .div1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container4 .div1 .box {
    height: auto;
    width: 380px;
    padding: 20px;
}

.container4 .div1 .imgbox {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container4 .div1 .imgbox img{
 height: 100px;
    width: 200px;
}
.container4 .div1 .imgbox p{
    text-align: center;
}

.container4 .div1 .box h3, h1,
p {
     padding: 5px;
    text-align: justify;
    margin-left: 5px;
}

.container4 .div2 {
    display: inline;
}

.container4 .div2 p {
    text-align: center;
    color: #011e3c;
    padding: 20px;
}

/*css of aboutus page */
.Aboutcontainer1 {

    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Aboutcontainer1 .box {
    margin-top: 5px;
    margin-bottom: 20px;
    height: auto;
    width: 500px;
}

.Aboutcontainer1 .box1 p,
h1 {
    margin-top: 20px;
    word-spacing: 5px;
}

.Aboutcontainer1 .box img {
    margin-left: 40px;
    height: 320px;
    width: 400px;
     box-shadow: 10px 10px 15px 0 gray;
     border-radius: 10px;
}
.Aboutcontainer2{
      margin-top: 40px;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Aboutcontainer2 .item2{
    padding: 40px;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   gap: 20px;
}
.Aboutcontainer2 .item2 .box{
    border: 1px solid;
    width: 300px;
    height: 150px;
          display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px 0px 20px 0px;
      border-color: #cfcece;
    box-shadow: 0px 10px 25px 0;
}
.Aboutcontainer2 .item2 .box h4:hover{
 color: #fc7209;
}

.Aboutcontainer3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facilityContainer1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facilityContainer1  h1{
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    text-align: center;
    padding: 15px;
}
.facilityContainer1 .box{
   border: 2px solid rgb(239, 237, 237);
   width: 80%;
   padding: 20px;
     border-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.facilityContainer1 .box h5{
    font-size: 15px;
    padding: 5px;
}
.facilityContainer1 .box .imgs{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
}
.facilityContainer1 .box .imgs img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.facilityContainer2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facilityContainer2  h1{
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    text-align: center;
    padding: 15px;
}
.facilityContainer2 .box{
   border: 2px solid rgb(239, 237, 237);
   width: 80%;
   padding: 20px;
    border-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.facilityContainer3{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facilityContainer3 h1{
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 38, 77, .8)), url('images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    text-align: center;
    padding: 15px;
}
.facilityContainer3 .box{
   border: 2px solid rgb(239, 237, 237);
   width: 80%;
   padding: 20px;
    border-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.facilityContainer3 .box h5{
    font-size: 15px;
    padding: 5px;
}
.gallerycontainer{
width: 100vw;
}
.gallerycontainer .box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallerycontainer{
    margin-top: 20px;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     border-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    gap: 20px;
}
.gallerycontainer .box{
    width: 380px;
    height: 300px;
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.gallerycontainer .box img{
     width: 360px;
    height: 280px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    transform: scale(0.8);
    transition: 0.8s;
}
.gallerycontainer .box img:hover{
    cursor: pointer;
    transform: scale(1);
}
.contact {

    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}
.contact .box {
    border: 1px solid;
    border-radius: 10px;
    height: auto;
    width: auto;
   
}
.contact .box1{
    padding: 20px;
}
.contact .box1 #box1 input  {
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray ;
}
textarea {
    width: 500px;
    height: 40px;
    padding: 10px;
      margin-top: 5px;
          border-radius: 10px;
}
button {
    width: 500px;
    height: 50px;
    padding: 10px;
   background-color: #00264d;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
        border-radius: 10px;
}

.contact .box2 {
    border: none;
}

.contact .box2 .dibbe {
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        transition: 0.5s;
}
.contact .box2 .dibbe:hover {
    transform: translateY(-15px);
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.contact .box2 .div1,
.div2 {
    margin-top: 0px;
    height: 120px;
    width: 300px;
}
.contact .box2 .div3 {
    height: 140px;
    width: 300px;
}
.autoshow{
    animation: AutoshowaAnimation both;
    animation-timeline: view(85% 20%);
}
@keyframes AutoshowaAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
         transform: translateY(0) scale(1);
    }
}




@media screen and (max-width:510px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    .header .box2 ul {
        width: auto;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:510px) {
    .container1 .box img {
        margin-left: 0px;
        width: 300px;
        transition: 0s;
    }
}

@media screen and (max-width:300px) {
    .container1 .box img {
        margin-left: 10px;
        width: 200px;
        transition: 0s;
    }
}

@media screen and (max-width:975px) {
    .container3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:610px) {
    .container3 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:510px) {
    .Aboutcontainer1 .box img {
        margin-left: 0px;
        width: 300px;
        transition: 0s;
    }
}

@media screen and (max-width:300px) {
    .Aboutcontainer1 .box img {
        margin-left: 5px;
        width: 200px;
        transition: 0s;
    }
}

@media screen and (max-width:685px) {
    .contact .box1 #box1 input, textarea, button  {
    width: 400px;
}
}
@media screen and (max-width:575px) {
    .contact .box1 #box1 input, textarea, button  {
    width: 300px;
}
}
@media screen and (max-width:450px) {
    .contact .box1 #box1 input, textarea, button  {
    width: 200px;
}
.contact .box2 .dibbe {
    width: 200px;
}
}